html {
    font-family: 'Noto Sans', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EDDBC0;
    padding: 0;
    margin: 0;

}
.recipes img {
    max-width: 250px;
    padding: 10px;  
    border-radius: 40px;

}

.recipes a {
    text-align: center;
    font-size: 56px;
    width: 350px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 50px;
}

.recipes a:hover {
    text-decoration: underline;
}

.title {
    font-size: 72px;
    color: #64481e;
}

.recipes {
    display: flex;
    align-items: center;
    background-color:#B73E3E;
    margin-bottom: 30px;
    border: 12px #B73E3E solid;
    border-radius: 20px;
}

.main {
    background-color: #DD5353;
    padding: 24px;
    border: 16px #B73E3E solid;
    border-radius: 24px;  
}

.recipe {
    margin: 50px 100px;
    display: grid;
    grid-template-areas:
    "header header"
    "desc ingredients"
    "steps steps";
    grid-template-columns:repeat(2, 1fr);
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;

}

.recipe-header, .recipe-description, .recipe-ingredients,.recipe-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DD5353;
    padding: 24px;
    border: 16px #B73E3E solid;
    border-radius: 24px;
    color: white;


}
.recipe-description p {
    font-size: 36px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;

}
.recipe-header {
    grid-area: header;



}
.recipe-description {
    grid-area: desc;
}

.recipe-description * {
    grid-area: desc;
    
}


.recipe-ingredients {
    grid-area: ingredients;
}
.recipe-steps {
    grid-area: steps;
}
.recipe img {
    max-width: 600px;
    border: 12px #B73E3E solid;
    border-radius: 20px; 

}

.recipe-description h2, .recipe-steps h2, .recipe-ingredients h2 {
    font-size: 48px;
    margin: 0;
}




ul {

    align-self: flex-start;

}
.recipe-steps li, .recipe-ingredients li {
    font-size: 36px;
    margin-bottom: 16px;
    
}
.recipe-title {
    color: white;
    font-size: 72px;
}

nav {
    background-color: #DBC8AC;
    align-self: stretch;
    padding: 16px;
    
}
nav a {
    font-size: 48px;
   
    color: black;
    text-decoration: none;
    padding-top: 72px;
}

nav a:hover {
    text-decoration: underline  ;
}